# SPDX-License-Identifier: Apache-2.0
name: '301: [FLOW] PR Checks'
on:
  pull_request:
    branches:
      - 'main'

defaults:
  run:
    shell: bash

permissions:
  contents: read

jobs:
  execute-tests:
    # Run all tests ensure 100% threshold is maintained
    name: Execute Tests
    runs-on: ubuntu-latest
    steps:
      - name: Prepare Runner
        uses: pandaswhocode/initialize-github-job@a57cd6d8d768b2f3c95334bdd4fa8c21609fc651 # 1.0.5
        with:
          checkout: 'true'
          checkout-ref: '${{ github.ref }}'
          checkout-token: '${{ secrets.GITHUB_TOKEN }}'
          setup-node: 'true'
          node-version: '24'
          node-registry: 'https://registry.npmjs.org/'

      - name: Build & Test Package
        run: |
          echo "::group::Install Dependencies"
          npm ci
          echo "::endgroup::"

          echo "::group::Build Package"
          npm run build
          echo "::endgroup::"

          echo "::group::Test Package"
          npm run test
          echo "::endgroup::"
