# SPDX-License-Identifier: Apache-2.0
name: '302: [FLOW] Publish Release'
on:
  workflow_dispatch:
    inputs:
      dry-run-enabled:
        description: 'Dry-Run Enabled'
        type: boolean
        default: true
  push:
    branches:
      - main

defaults:
  run:
    shell: bash

permissions:
  contents: write
  id-token: write
  actions: write
  packages: write

jobs:
  prepare-release:
    name: Prepare Release
    runs-on: ubuntu-latest
    outputs:
      version: ${{ steps.tag.outputs.version }}
      need-release: ${{ steps.calculate-version.need-release }}
    steps:
      - name: Prepare Release
        uses: pandaswhocode/initialize-github-job@ffb7446339e8e6007b942312ac95457d1a20b6cf # 1.0.4
        with:
          checkout: 'true'
          checkout-ref: '${{ github.ref }}'
          checkout-token: '${{ secrets.GITHUB_TOKEN }}'
          setup-node: 'true'
          node-version: '24'
          node-registry: 'https://registry.npmjs.org/'

      - name: Install Semantic Release
        run: |
          npm install -g semantic-release@25.0.2 @semantic-release/git@10.0.1 @semantic-release/exec@7.1.0 gradle-semantic-release-plugin@1.7.6
          npm install -g conventional-changelog-conventionalcommits@9.1.0 @commitlint/cli@18.6.0 @commitlint/config-conventional@18.6.0
          npm install -g marked-mangle@1.1.6 marked-gfm-heading-id@3.1.2 semantic-release-conventional-commits@3.0.0

      - name: Calculate Next Version
        id: calculate-version
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GIT_AUTHOR_NAME: ${{ secrets.GIT_USER_NAME }}
          GIT_AUTHOR_EMAIL: ${{ secrets.GIT_USER_EMAIL }}
          GIT_COMMITTER_NAME: ${{ secrets.GIT_USER_NAME }}
          GIT_COMMITTER_EMAIL: ${{ secrets.GIT_USER_EMAIL }}
        run: |
          npx semantic-release --dry-run

          # Verify the file VERSION exists
          VERSION_EXISTS=$(ls -al | grep VERSION)
          PROCEED="true"
          if [[ ${#VERSION_EXISTS} -gt 0 ]]; then
            echo "::notice file=100-flow-publish-release.yaml,line=61::VERSION file exists"
          else
            echo "::notice file=100-flow-publish-release.yaml,line=63::VERSION file does NOT exist"
            echo "::group::Cancel Workflow"
            echo "No significant changes were detected. Canceling workflow."
            echo "::endgroup::"
            PROCEED="false"
          fi

          echo "need-release=${PROCEED}" >> "${GITHUB_OUTPUT}"

      - name: Extract Version
        id: tag
        if: ${{ steps.calculate-version.outputs.need-release  == 'true' }}
        run: |
          cat VERSION
          [[ "${{ github.event.inputs.dry-run-enabled }}" == "true" && ! -f VERSION ]] && echo -n "0.0.0-latest" > VERSION
          TRIMMED_VERSION=$(cat VERSION | tr -d '[:space:]')
          echo "version=${TRIMMED_VERSION}" >> "${GITHUB_OUTPUT}"
          echo "version=${TRIMMED_VERSION}"

  create-github-release:
    name: 'Create GitHub Release'
    runs-on: ubuntu-latest
    if: ${{ needs.prepare-release.outputs.need-release == 'true' }}
    needs:
      - prepare-release
    steps:
      - name: Prepare Release
        uses: pandaswhocode/initialize-github-job@ffb7446339e8e6007b942312ac95457d1a20b6cf # 1.0.4
        with:
          checkout: 'true'
          checkout-ref: '${{ github.ref }}'
          checkout-token: '${{ secrets.GITHUB_TOKEN }}'
          setup-node: 'true'
          node-version: '24'
          node-registry: 'https://registry.npmjs.org/'

      - name: Install GnuPG Tools
        run: |
          if ! command -v gpg2 >/dev/null 2>&1; then
          echo "::group::Configure APT Mirror"
           # Configure APT to use main Ubuntu archive (disable mirror rotation)
           sudo sed -i 's|http://[a-z.]*.ubuntu.com|http://archive.ubuntu.com|g' /etc/apt/sources.list
          echo "::endgroup::"
          echo "::group::Updating APT Repository Indices"
           sudo apt update
          echo "::endgroup::"
          echo "::group::Installing GnuPG Tools"
           sudo apt install -y gnupg2
          echo "::endgroup::"
          fi

      - name: Import GPG key
        id: gpg_key
        uses: crazy-max/ghaction-import-gpg@e89d40939c28e39f97cf32126055eeae86ba74ec # v6.3.0
        with:
          gpg_private_key: ${{ secrets.GPG_KEY_CONTENTS }}
          passphrase: ${{ secrets.GPG_KEY_PASSPHRASE }}
          git_config_global: true
          git_user_signingkey: true
          git_commit_gpgsign: true
          git_tag_gpgsign: false

      - name: Build Production Distribution
        run: |
          set -eo pipefail
          npm ci
          npm install -g npm@11.7.0
          echo "VERSION=${{ needs.prepare-release.outputs.version }}"
          [[ -n "${{ needs.prepare-release.outputs.version }}" ]] && npm version ${{ needs.prepare-release.outputs.version }} -f --no-git-tag-version --allow-same-version
          npm run build
          npm run test

      - name: Upload Logs
        if: ${{ always() }}
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          path: /home/runner/.npm/_logs

      - name: Install Semantic Release
        run: |
          npm install -g semantic-release@25.0.2 @semantic-release/git@10.0.1 @semantic-release/exec@7.1.0 gradle-semantic-release-plugin@1.7.6
          npm install -g conventional-changelog-conventionalcommits@9.1.0 @commitlint/cli@18.6.0 @commitlint/config-conventional@18.6.0
          npm install -g marked-mangle@1.1.6 marked-gfm-heading-id@3.1.2 semantic-release-conventional-commits@3.0.0

      - name: Publish Semantic Release
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GIT_AUTHOR_NAME: ${{ secrets.GIT_USER_NAME }}
          GIT_AUTHOR_EMAIL: ${{ secrets.GIT_USER_EMAIL }}
          GIT_COMMITTER_NAME: ${{ secrets.GIT_USER_NAME }}
          GIT_COMMITTER_EMAIL: ${{ secrets.GIT_USER_EMAIL }}
        if: ${{ !cancelled() && !failure() }}
        run: |
          FLAGS=""
          if [[ "${{ inputs.dry-run-enabled }}" == "true" ]]; then
            FLAGS="--dry-run"
          fi

          npx semantic-release --no-sign ${FLAGS}
